<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\Release\net9.0\publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net9.0</TargetFramework>
    <!--<ProjectGuid>5e165456-bc0a-4025-9e5e-f39c5a6d8ac2</ProjectGuid>-->
    <SelfContained>false</SelfContained>
  </PropertyGroup>
	<Target Name="ProdFolder" AfterTargets="Publish">
		<Copy SourceFiles="$(ProjectDir)appsettings.$(MSBuildThisFileName).json"
			  DestinationFiles="$(PublishDir)appsettings.json" />
	</Target>
	<ItemGroup>
		<Content Update="appsettings.*.json" CopyToPublishDirectory="Never" />
	</ItemGroup>
</Project>